@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: gray;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    color: rgb(242, 239, 239);
}

.main_container {
    margin: 200px auto;
    width: min(90%, 300px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* CALC DISPLAY COMPONENT */

.display {
    background-color: rgb(45, 44, 44);
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: clamp(1rem, 5vw, 2rem);
    color: whitesmoke;
    padding: 25px 20px 20px 20px;
    overflow: hidden;
}



.buttons_container {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 5fr));
}


/* GRID STYLING FOR EACH BUTTON */

.seven {
    grid-area: 1 / 1 / 2 / 2;
}

.eight {
    grid-area: 1 / 2 / 2 / 3;
}
.nine {
    grid-area: 1 / 3 / 2 / 4;
}

.del_button {
    grid-area: 1 / 4 / 2 / 5;
}




.four {
    grid-area: 2 / 1 / 3 / 2;
}

.five {
    grid-area: 2 / 2 / 3 / 3;
}
.six {
    grid-area: 2 / 3 / 3 / 4;
}

.plus {
    grid-area: 2 / 4 / 3 / 5;
}



.one {
    grid-area: 3 / 1 / 4 / 2;
}

.two {
    grid-area: 3 / 2 / 4 / 3;
}
.three {
    grid-area: 3 / 3 / 4 / 4;
}

.minus {
    grid-area: 3 / 4 / 4 / 5;
}



.dot {
    grid-area: 4 / 1 / 5 / 2;
}

.zero {
    grid-area: 4 / 2 / 5 / 3;
}
.divide {
    grid-area: 4 / 3 / 5 / 4;
}

.multiply {
    grid-area: 4 / 4 / 5 / 5;
}


.reset_button {
    grid-area: 5 / 1 / 6 / 3;
}

.equal_button {
    grid-area: 5 / 3 / 6 / 5;
}



/* PRIMARY BUTTONS */
.buttons {
    background-color: white;
    font-size: clamp(1rem, 3vw, 1.5rem);
    width: 100%;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
}

.buttons:hover {
    background-color: rgb(221, 221, 221);
}


/* BUTTONS DESIGNS */
.buttons::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.168);
    height: 6px;
    width: 100%;
    bottom: 0;
    border-radius: 5px 5px 0px 0px;
}

.clickedAnimation {
    animation: clicked 0.1s ease-in-out normal;
    transform-origin: bottom;
}

@keyframes clicked {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }

}


.buttons::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.074);
    width: 4px;
    height: 80%;
    top: 0;
    left: 0;
    border-radius: 0px 5px 5px 0px;
}

.del_button {
    background-color: rgb(123, 124, 125);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.del_button:hover {
    background-color: rgb(73, 73, 73);
}



.equal_button {
    background-color: rgb(221, 137, 28);
    font-size: clamp(1rem, 2vw, 3rem);
    color: white;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.equal_button::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.074);
    width: 4px;
    height: 80%;
    top: 0;
    left: 0;
    border-radius: 0px 5px 5px 0px;
}

.equal_button::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height: 4px;
    bottom: 0;
    border-radius: 0px 5px 5px 0px;
}



.equal_button:hover {
    background-color: rgb(191, 101, 45);
}

.reset_button {
    background-color: rgb(123, 124, 125);
    color: white;
    font-size: clamp(1rem, 2vw, 3rem);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


.reset_button::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.074);
    width: 4px;
    height: 80%;
    top: 0;
    left: 0;
    border-radius: 0px 5px 5px 0px;
}

.reset_button::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.074);
    width: 100%;
    height: 4px;
    bottom: 0;
    border-radius: 0px 5px 5px 0px;
}


.reset_button:hover {
    background-color: rgb(73, 73, 73);
}

/* MOBILE SCREENS */
@media (max-width: 500px) {

    .buttons {
        width: min(45px,55px);
        height: 30px;
    }

    .main_container {
        width: min(90%, 280px);
    }

}